* { 
	padding: 0;
	margin: 0;
}

body { 
	background-color: black;
	padding: 0;
	margin: 0;
	color: #FFFFFF; 
}

.pure-button {
	width: 80px;
	height: 30px;
	margin: 1px;
	font-size: 80%;
	border-radius: 3px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tango-button {
	font-size: 150%;
	width: 500px;
	height: 60px;
	color: white;
	background: grey;
	text-align: left;
}


.button-red {
	color: white;
	background: red;
}

.button-green {
	color: white;
	background: green;
}

.button-yellow {
	color: black;
	background: yellow;
}

.button-grey {
	color: white;
	background: grey;
}


#videolist_layer {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 30px;
	left: 30px;
	z-index: 2;
	visibility: hidden;
}

#video_layer {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	z-index: 0;
}

#canvas_layer {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	z-index: 0;
	display: block;
}

#slider_layer {
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 40px;
	left: 10px;
	right: 10px;
	z-index: 0;
	display: block;

	/* transform: scale(0.5,0.5); */
}

#buttons_layer {
	position: absolute;
	margin: 0px;
	padding: 0px;
	bottom: 3px;
	left: 10px;
	z-index: 0;
	/* transform: scale(0.5,0.5); */
}


#c {
	top: 0px;
	left: 0px;
	/* border: 1px solid red; */
}

#video_player {
	height: 100%;
	/* border: 1px solid green; */
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: red;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
